@font-face {
    font-family: 'Norse-bold';
    src: url('Norse-Bold.eot');
    src: url('Norse-Bold.eot?#iefix') format('embedded-opentype'),
        url('Norse-Bold.woff2') format('woff2'),
        url('Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('Norse.eot');
    src: url('Norse.eot?#iefix') format('embedded-opentype'),
        url('Norse.woff2') format('woff2'),
        url('Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
	height: 100%;
	overflow: auto;
}

#navigation {
	position:relative;
}

.box{
	height: 100%;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-image: url("../content/background.jpg");
	background-size: auto 100%;
	background-position: center top;
}

.about-box{
	height: 100%;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;

}

.title-div {
	text-align: center;
	color:white;
	font-size: 10vw;
}

#title-text {
	font-family: 'Norse-bold';
	font-size:8vw;
}

#subtitle-text {
	font-size: 2vw;
}

#nav-text {
	font-family: 'Norse-bold';
	color: white;
	font-size: 2vw;
}

