@font-face {
    font-family: 'Norse-bold';
    src: url('Norse-Bold.eot');
    src: url('Norse-Bold.eot?#iefix') format('embedded-opentype'),
        url('Norse-Bold.woff2') format('woff2'),
        url('Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body, html {
	height: 100%;
	overflow: auto;
}

.body {
	height:100%;
	overflow:auto;
	background-image: url("../content/background.jpg");
	background-size: auto 100%;
	background-position: center top;

}

.box{
	height: 100%;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;

}

.about-box{
	height: 100%;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;

}

.title-div {
	text-align: center;
	color:white;
	font-size: 10vw;
}

#brand{
	font-family: 'Norse-bold';
	color: white;
	font-size: 3vw;

}

@media (max-width: 320px) {
	#title-text {
		font-family: 'Norse-bold';
		font-size:14vw;
	}

	#subtitle-text {
		font-family: 'Norse-bold';
		font-size: 5vw;
	}
}

@media (min-width: 321px) {
	#title-text {
		font-family: 'Norse-bold';
		font-size:8vw;
	}

	#subtitle-text {
		font-family: 'Norse-bold';
		font-size: 2vw;
	}
}



#nav-text {
	font-family: 'Norse-bold';
	color: white;
	font-size:2vw;
}

